{% extends 'base.html' %}

{% block title %} Main page {% endblock title %}

{% block content %}
	
	<header>
        <h1>Talking Chat</h1>
    </header>
    <nav>
        <a class="index-link" href="#">Home</a>
        <a class="about-link" href="#">About</a>
        <a class="contact-link" href="#">Contact</a>
    </nav>
    <main>
        <h2>What's your nickname?</h2>
        <form class="nickname-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field }} <br>
            {% endfor %}
            <input class="lets-go-btn" type="submit" value="Let's go!">
        </form>
    </main>

{% endblock content %}